<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory management</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <ul>
      <% products.forEach(product => { %>
      <li>
        <%= product.product_name %> - Price: $<%= product.price %> - Quantity:
        <%= product.quantity %>
        <img
          src="<%= product.product_image %>"
          alt="<%= product.product_name %>"
        />
      </li>
      <% }); %>
    </ul>
  </body>
</html>
