<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory management</title>

    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/product.css" />
    <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <%- include('header.ejs') %>
    <main>
      <button class="btn" id="add-product">Add product</button>
      <div class="products-container">
        <% products.forEach(product => { %>
        <div class="product">
          <div class="product-image-container">
            <img
              src="<%= product.product_image %>"
              alt="<%= product.product_name %>"
              class="product-image"
            />
          </div>
          <div class="product-text">
            <h2 class="product-name"><%= product.product_name %></h2>

            <p class="product-price">$<%= product.price %></p>
            <p class="product-category"><%= product.category_name %></p>
            <p class="product-quantity">quantity: <%= product.quantity %></p>
          </div>
        </div>

        <% }); %>
      </div>
    </main>

    <div id="form-container">
      <form action="/products/create" method="POST">
        <div>
          <label for="product-name">Product Name</label>
          <input
            type="text"
            name="product_name"
            required
            id="product-name"
            placeholder="Iphone 15 pro max"
          />
        </div>

        <div>
          <label for="product-price">Product Price</label>
          <input
            type="number"
            name="price"
            required
            id="product-price"
            placeholder="$1500"
          />
        </div>

        <div>
          <label for="product-quantity">Quantity</label>
          <input
            type="number"
            required
            name="quantity"
            id="product-quantity"
            placeholder="6"
          />
        </div>

        <div>
          <label for="product-category">Category</label>
          <input
            type="text"
            name="category"
            required
            id="product-category"
            placeholder="Smart phones"
          />
        </div>

        <div>
          <label for="product-image">Product Image</label>
          <input
            type="text"
            name="product_image"
            id="product-image"
            required
            placeholder="Insert Image link"
          />
        </div>
        <div class="btns-container">
          <button type="submit" class="btn" id="add-new">Add product</button>
          <button class="btn" id="close-form" type="button">Cancel</button>
        </div>
      </form>
    </div>
    <script>
      const addProductBtn = document.getElementById('add-product');
      const submitProduct = document.getElementById('add-new');
      const closeProductBtn = document.getElementById('close-form');
      function openForm() {
        document.getElementById('form-container').style.display = 'flex';
      }

      function closeForm() {
        document.getElementById('form-container').style.display = 'none';
      }

      addProductBtn.addEventListener('click', openForm);
      submitProduct.addEventListener('submit', closeForm);
      closeProductBtn.addEventListener('click', closeForm);
    </script>
  </body>
</html>
